$navbar-background-color: #f0f2f0;
$nav-link-color: #000;
$nav-link-bordercolor: #b8b8b8;
$button-background-color: #4b5462;
$button2-background-color-hover: #172573e1;
$button3-background-color-hover: #246665e0;
$button4-background-color-hover: #eee;

$searchbar-backgorund-color: #172573;
$searchbar-color: #fff;

$section-cards-background-color: #d6d7d6;
$cards-background-color: #4b5462;
$cards-color: #fff;

$nosotros-text-background-color: #246665;
$nosotros-text-color: #fff;
$nosotros-valores-color: #605f5f;
$nosotros-valores-color-hover: #000;

$table-bordercolor: #ddd;
$table-background-color: #f2f2f2;