@use '../Styles/variables.scss';

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    @media (min-width: 1024px) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    @media (min-width: 426px) and (max-width: 768px) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

.contact-header {
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
    padding: 0 1em;

    @media (min-width: 1024px) {
        & {
            grid-row: 1 / 2;
            font-size: 2em;
        }
    }
    @media (min-width: 426px) and (max-width: 768px) {
        & {
            grid-row: 1 / 2;
            font-size: 2em;
        }
    }
}



.final-form-container {

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: .8em;
    }

    &__input {
        display: none;
    }

    &__title {
        font-size: 2em;
        text-align: center;
    }

    &__icono {
        font-size: 2.5em;
        margin: .2em .3em;
        display: inline-block;
        position: relative;
        transform: translateY(10px);
        transition: transform .4s;
        cursor: pointer;
    }

    &__icono:hover {
        transform: translateY(-5px);
        transform-origin: top;
    }

    &__submit {
        padding: 1em;
        margin: 0.6em;
        border-radius: 10px;
        background-color: variables.$nosotros-text-background-color;
        color: variables.$searchbar-color;
        border: none;
        font-weight: 700;
        letter-spacing: 1px;
        transition: background-color ease-in .2s;
        cursor: pointer;
    }

    &__submit:hover {
        background-color: variables.$button3-background-color-hover;
    }

    @media (min-width: 1024px) {
        & {
            grid-row: 2 / 3;
        }
    }
    @media (min-width: 426px) and (max-width: 768px) {
        & {
            grid-row: 2 / 3;
        }
    }
}