@use '../Styles/variables.scss';

.form-container {
    padding: 1em;
    margin: 1em;
    border: 10px solid variables.$searchbar-backgorund-color;
    border-radius: 10px;
    min-width: 90%;

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 1.2em;
        font-weight: 700;
        text-transform: lowercase;
        text-transform: capitalize;
    }

    &__input,
     &__select,
      &__textarea {
        padding: .8em;
        width: 100%;
        margin-bottom: 1em;
        border-radius: 10px;
        border: solid 1px variables.$form-input;
        outline: none;
    }

    &__textarea {
        height: 5em;
    }

    &__input:focus,
     &__select:focus,
      &__textarea:focus {
        border: solid 0.5px variables.$searchbar-backgorund-color;
      }

    &__button {
        padding: 1em;
        margin: .6em 0;
        border-radius: 10px;
        background-color: variables.$searchbar-backgorund-color;
        color: variables.$searchbar-color;
        border: none;
        font-weight: 700;
        letter-spacing: 1px;
        transition: background-color ease-in .2s;
        cursor: pointer;
        margin-right: 15px;
        align-self: center;
        width: 30%;
    }

    &__button:hover {
        background-color: variables.$button2-background-color-hover;
    }

    @media (min-width: 1024px) {
        & {
            grid-row: 1 / 3;
            padding: 2em;
        }
    }
    @media (min-width: 426px) and (max-width: 768px) {
        & {
            grid-row: 1 / 3;
        }
    }
}